# Default ignored files
/shelf/
workspace.xml

/.idea/
OrderAutomation.iml
misc.xml
modules.xml
vcs.xml
/inspectionProfiles

/__pycache__
/venv


token.json

.gitignore
credentials.json
credentials_test.json
